.grid {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;
    width: 300px;
    height: 300px
}

.grid div {
    width: 20px;
    height: 20px;
}

.shooter {
    background-color: rgb(0, 81, 255);
}

.invader {
    background-color: blueviolet;
    border-radius: 10px;
}

.boom {
    background-color: crimson;
}

.laser {
    background-color: orange;
}